*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body.mybody{

    width:100%;
    height:100vh;

    background-color:black;

    display:flex;
}

.button {
    width:100px;
    height:100px;

    opacity:0.6;

    border-color:white;
    border-style:solid;

    position:relative;

    transition:1.5s ease;
}

.button:after{
    content:'';

    position:absolute;
    top:30%;
    left:15%;

    width:70%;
    height:10%;

    border-radius:20px;
    
    background-color:#fff;

    transition:1.5s ease;
}

.button:before{
    content:'';

    position:absolute;
    top:60%;
    left:45%;

    width:40%;
    height:10%;

    border-radius:20px;
    
    background-color:#fff;

    transition:1.5s ease;
}

.menu {
    width: 250px;
    height: 0px;

    justify-content: center;
    align-items: center;
    
    opacity:0;
    position:relative;

    transition:1.5s ease;

    background-color:aquamarine;
}

.logo {
    position: relative;
    top: 5%
}

.nav {
    position: relative;
    top: 10%;
    height: 0px;
    visibility: hidden;
    transition: 1.2s
}

ul {
    list-style-type: none;
    width: 100%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

li a {
    display: block;
    color: #000;
    background-color: #666;
    text-decoration: none;
}

a{
    padding-bottom:8px;
    padding-top:8px;
}

li a:hover{
    background-color: #555;
    color: white;
    text-decoration: none;
}

#button:checked ~ label .button:after {
    transform: rotate(225deg);
    top: 45%;
    left: 15%;
}

#button:checked ~ label .button{
    top: 45%;
}

#button:checked ~ label .button:before {
    transform: rotate(-225deg);
    top: 45%;
    left: 15%;
    width: 70%;
    height: 10%;
}

#button:checked ~ label .menu{
    height: 300px;
    opacity:1;
}

#button:checked ~ label .nav {
    visibility: visible;
}