
@{
    ViewBag.Title = "Contato";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="~/Content/StyleContato.css" rel="stylesheet" />
</head>
<body>

    <h2 class="titulo">Solicite um orçamento</h2>

    <div class="container">
        <form action="/action_page.php">
            <input type="text" id="name" name="nomecompleto" placeholder="Nome *">

            <input type="text" id="email" name="email" placeholder="Seu Email *">

            <input type="number" id="telefone" name="telefone" placeholder="Seu telefone *">

            <input type="text" id="local" name="localtrabalho" placeholder="Local do trabalho *">

            <input type="number" id="orcamento" name="orcamento" placeholder="Orçamento *" />

            <textarea id="subject" name="subject" placeholder="Detalhes" style="height:200px"></textarea>

            <input type="submit" value="Submit">
        </form>
    </div>
    <div class="contato">
        <h3>Entre em contato</h3>
        <br />
        Telefone:
        +55 (11) 2766-2303
        Endereço:
        Rua Hugo Walter Puschnick, 260, Alto da Mooca, São Paulo, SP
        Email:
        contato@hivestudiofotografia.com.br
        <br />
    </div>

</body>
</html>

